nodered.json
[
    {
        "id": "c293f322.e02d2",
        "type": "tab",
        "label": "RIMalShare",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b3d631e0.b3ff3",
        "type": "change",
        "z": "c293f322.e02d2",
        "name": "Set Malshare API Key",
        "rules": [
            {
                "t": "set",
                "p": "malshare_api",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1c074d88.18e202"
            ]
        ]
    },
    {
        "id": "492bb69e.ab42a8",
        "type": "debug",
        "z": "c293f322.e02d2",
        "name": "Skip... No update required",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "update_tie",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "d4f0914.dd0077",
        "type": "http request",
        "z": "c293f322.e02d2",
        "name": "Malshare",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "ee32cdd8.0c12",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "fa8228e2.6cb308"
            ]
        ]
    },
    {
        "id": "81b0e078.4ac84",
        "type": "inject",
        "z": "c293f322.e02d2",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b3d631e0.b3ff3"
            ]
        ]
    },
    {
        "id": "fa8228e2.6cb308",
        "type": "split",
        "z": "c293f322.e02d2",
        "name": "Split Newlines",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "d0a90525.6df1c8"
            ]
        ]
    },
    {
        "id": "d0a90525.6df1c8",
        "type": "function",
        "z": "c293f322.e02d2",
        "name": "Convert to hashes",
        "func": "words = msg.payload.split(\" \");\n\nwords_json={    \n    md5: words[0],\n    sha1: words[1],\n    sha256: words[2]\n};\n\nmsg.payload = words_json;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "ef6d97e0.74bd78"
            ]
        ]
    },
    {
        "id": "d173a9c9.6ba048",
        "type": "dxl-tie-get-file-reputation",
        "z": "c293f322.e02d2",
        "name": "",
        "client": "2ed0ce07.039942",
        "returnType": "obj",
        "x": 500,
        "y": 480,
        "wires": [
            [
                "7316fd54.e4b3a4"
            ]
        ]
    },
    {
        "id": "ef6d97e0.74bd78",
        "type": "change",
        "z": "c293f322.e02d2",
        "name": "Set hashes request parameter",
        "rules": [
            {
                "t": "set",
                "p": "hashes",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "hashes",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "d173a9c9.6ba048"
            ]
        ]
    },
    {
        "id": "7316fd54.e4b3a4",
        "type": "change",
        "z": "c293f322.e02d2",
        "name": "Set TIE Results Parameter",
        "rules": [
            {
                "t": "set",
                "p": "tie_results",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 60,
        "wires": [
            [
                "adc9f18.e70b11"
            ]
        ]
    },
    {
        "id": "adc9f18.e70b11",
        "type": "function",
        "z": "c293f322.e02d2",
        "name": "New? Set Reputation?",
        "func": "msg.update_tie = false;\n\nif(msg.tie_results[3][\"trustLevel\"] === 0 && msg.tie_results[1][\"trustLevel\"] === 0)\n{\n    msg.update_tie = true;\n}else if(msg.tie_results[3][\"trustLevel\"]== 50)\n{\n    msg.update_tie = true;\n}else if(msg.tie_results[3][\"trustLevel\"]== 70)\n{\n    msg.update_tie = true;\n}else if(msg.tie_results[3][\"trustLevel\"]== 85)\n{\n    msg.update_tie = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 120,
        "wires": [
            [
                "84860314.576a4"
            ]
        ]
    },
    {
        "id": "e6e43f2e.1dedb",
        "type": "debug",
        "z": "c293f322.e02d2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 1380,
        "y": 360,
        "wires": []
    },
    {
        "id": "84860314.576a4",
        "type": "switch",
        "z": "c293f322.e02d2",
        "name": "Update TIE?",
        "property": "update_tie",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 180,
        "wires": [
            [
                "982e37bb.2c2198"
            ],
            [
                "492bb69e.ab42a8"
            ]
        ]
    },
    {
        "id": "3174bad2.f7c996",
        "type": "dxl-tie-set-file-reputation",
        "z": "c293f322.e02d2",
        "name": "Set Reputation",
        "client": "2ed0ce07.039942",
        "trustLevel": "15",
        "comment": "MalShare Files",
        "x": 1320,
        "y": 300,
        "wires": [
            [
                "e6e43f2e.1dedb"
            ]
        ]
    },
    {
        "id": "982e37bb.2c2198",
        "type": "change",
        "z": "c293f322.e02d2",
        "name": "Specify file name",
        "rules": [
            {
                "t": "set",
                "p": "fileName",
                "pt": "msg",
                "to": "unknown.malshare",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "7261ee14.939be"
            ]
        ]
    },
    {
        "id": "7261ee14.939be",
        "type": "change",
        "z": "c293f322.e02d2",
        "name": "Set hashes request parameter",
        "rules": [
            {
                "t": "set",
                "p": "hashes",
                "pt": "msg",
                "to": "hashes",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "3174bad2.f7c996"
            ]
        ]
    },
    {
        "id": "1c074d88.18e202",
        "type": "function",
        "z": "c293f322.e02d2",
        "name": "Convert to hashes",
        "func": "msg.url = \"https://www.malshare.com/api.php?api_key=\" + msg.malshare_api + \"&action=getlistraw\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "d4f0914.dd0077"
            ]
        ]
    },
    {
        "id": "ee32cdd8.0c12",
        "type": "tls-config",
        "z": "",
        "name": "Default",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]
